# list

In [4]:
lst=[1,2.5,"Keerthi",[5,4,99]]

In [5]:
lst

[1, 2.5, 'Keerthi', [5, 4, 99]]

In [6]:
lst.append("Ramanukolanu")

In [7]:
lst

[1, 2.5, 'Keerthi', [5, 4, 99], 'Ramanukolanu']

In [10]:
lst1= lst.copy()

In [11]:
lst1

[1, 2.5, 'Keerthi', [5, 4, 99], 'Ramanukolanu']

In [12]:
lst.count("Keerthi")

1

In [13]:
lst.append(2.5)

In [14]:
lst.count(2.5)

2

In [15]:
lst.extend(lst1)

In [16]:
lst

[1,
 2.5,
 'Keerthi',
 [5, 4, 99],
 'Ramanukolanu',
 2.5,
 1,
 2.5,
 'Keerthi',
 [5, 4, 99],
 'Ramanukolanu']

In [17]:
lst.index(1)
#gives the index of the given value

0

In [18]:
lst1.clear()

In [19]:
lst1

[]

In [21]:
lst.insert(2,5)
# insert the given value in the mentioned index
#it takes exactly two arguments(index,value)

In [22]:
lst

[1,
 2.5,
 5,
 'Keerthi',
 [5, 4, 99],
 'Ramanukolanu',
 2.5,
 1,
 2.5,
 'Keerthi',
 [5, 4, 99],
 'Ramanukolanu']

In [23]:
lst.pop(5)

'Ramanukolanu'

In [24]:
lst.remove(5)

In [25]:
lst

[1,
 2.5,
 'Keerthi',
 [5, 4, 99],
 2.5,
 1,
 2.5,
 'Keerthi',
 [5, 4, 99],
 'Ramanukolanu']

In [27]:
lst.reverse()

In [28]:
lst

['Ramanukolanu',
 [5, 4, 99],
 'Keerthi',
 2.5,
 1,
 2.5,
 [5, 4, 99],
 'Keerthi',
 2.5,
 1]

# Dictionary and its default Functions

In [29]:
dit={"key":"Value","Name":"keerthi","Age":"21"}

In [30]:
dit

{'key': 'Value', 'Name': 'keerthi', 'Age': '21'}

In [32]:
dit.get("key")

'Value'

In [33]:
dit.items()

dict_items([('key', 'Value'), ('Name', 'keerthi'), ('Age', '21')])

In [34]:
dit.keys()

dict_keys(['key', 'Name', 'Age'])

In [35]:
dit.values()

dict_values(['Value', 'keerthi', '21'])

In [36]:
dit.pop("Name")

'keerthi'

In [37]:
dit

{'key': 'Value', 'Age': '21'}

In [39]:
dit.popitem()

('Age', '21')

In [40]:
dit

{'key': 'Value'}

In [42]:
dit.setdefault(0)

In [43]:
dit

{'key': 'Value', 0: None}

In [52]:
dit.update()

In [53]:
dit

{'key': 'Value', 0: None}

In [54]:
dit2=dit.copy()

In [55]:
dit2

{'key': 'Value', 0: None}

In [59]:
dit.fromkeys("0")

{'0': None}

In [60]:
dit2.clear()

In [61]:
dit2

{}

# sets and its default functions

In [73]:
st={1,2,3,4,5,99,20,20,6,99,"Keerthi","Deepthi"}
#set is used to store unique values
#set is a class

In [74]:
st

{1, 2, 20, 3, 4, 5, 6, 99, 'Deepthi', 'Keerthi'}

In [75]:
st1=st.copy()

In [76]:
st1

{1, 2, 20, 3, 4, 5, 6, 99, 'Deepthi', 'Keerthi'}

In [78]:
st2={"Ramanukolanu",8}

In [79]:
st2.issubset(st)

False

In [84]:
st.add("Ramanukolanu")

In [81]:
st

{1, 2, 20, 3, 4, 5, 6, 99, 'Deepthi', 'Keerthi', 'Ramanukolanu'}

In [87]:
st2.difference(st)

{8}

In [88]:
st2.difference(st1)

{8, 'Ramanukolanu'}

In [90]:
st.difference(st2)

{1, 2, 20, 3, 4, 5, 6, 99, 'Deepthi', 'Keerthi'}

In [91]:
st.difference_update(st2)

In [92]:
st

{1, 2, 20, 3, 4, 5, 6, 99, 'Deepthi', 'Keerthi'}

In [93]:
st.intersection(st1)

{1, 2, 20, 3, 4, 5, 6, 99, 'Deepthi', 'Keerthi'}

In [97]:
st2.intersection(st)

set()

In [103]:
st.discard("Deepthi")

In [104]:
st

{2, 20, 4, 5, 6, 99, 'Keerthi'}

# Tuple and its default Methods

In [112]:
tup=("Keerthi","Deepthi","Prameela","Suresh")

In [113]:
tup

('Keerthi', 'Deepthi', 'Prameela', 'Suresh')

In [115]:
tup.count("Keerthi")

1

In [118]:
tup.index("Prameela")

2

# Strings and Default Methods

In [119]:
Name="Keerthi"

In [120]:
type(Name)

str

In [121]:
SurName="Ramanukolanu"

In [125]:
FullName= Name+" "+SurName

In [126]:
FullName

'Keerthi Ramanukolanu'

In [127]:
type(FullName)

str